.editorsContainer {
  height: 100vh;
}

.editors {
  display: flex;
  height: 90vh;
  border: 1px solid gray;
}

.mainEditor {
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
}

.variable {
  flex: 1 1 auto;
  border-top: 1px solid gray;
}

.response {
  flex: 1 1 auto;
}

.editor {
  border-radius: 3px;
}

.monaco {
  height: 100%;
  text-align: left;
}
