.editorsContainer {
  height: 100vh;
}

.editors {
  display: flex;
  height: 100%;
}

.mainEditor {
  display: flex;
  flex-direction: column;
}

.variable {
  flex: 1 1 auto;
}

.response {
  flex: 1 1 auto;
}

.editor {
  border-radius: 3px;
  border: 1px solid gray;
}
