.editorsContainer {
  height: 100vh;
}

.editors {
  display: flex;
  border: 1px solid gray;
}

.mainEditor {
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
}

.variable {
  flex: 1 1 auto;
  border-top: 1px solid gray;
}

.response {
  flex: 1 1 auto;
}

.editor {
  border-radius: 3px;
}

.monaco {
  height: 40vh;
  text-align: left;
}

.Editor {
  min-height: 40vh;
  text-align: left;
  border-radius: 5px;
  height: inherit;
}

.monaco-editor,
.monaco-editor .selections-layer,
.monaco-editor .selected-text,
.monaco-editor .overflow-guard {
  border-radius: 8px !important;
}
