/* .container {
  display: flex;
  border: 5px solid red;
} */
/*
.mainEditor {
}
.query {
  width: 100%;
}
.variable {
  width: 100%;
}
.response {
  width: 100%;
} */

.mainEditor {
  width: 100%;
}
.query {
  resize: vertical;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.variable {
  width: 100%;
}

.container {
  width: 100%;
}
.editors {
  display: flex;
}
.response {
  width: 100%;
}
